
<div class="actions">
    <mat-form-field class="filter">
      <input matInput type="text"  placeholder="filter" (keyup)="applyFilter($event.target.value)">
    </mat-form-field>
    
    <button mat-button (click)='insert()'>新增</button>
    <button [disabled]="multi" mat-button matTooltip="禁止多行修改" (click)="update()">修改</button>
    <button mat-button color="warn" (click)="delete()">删除</button>
    <button mat-button (click)="importData()">导入数据</button>
    <button mat-button (click)="exportData()">导出数据</button>
    <mat-slide-toggle [(ngModel)]="multi">多行操作模式</mat-slide-toggle>
    </div>
    
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
    
    
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox   (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox   (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      
      <ng-container *ngFor="let columnName of dataColumns" [matColumnDef]="columnName">
        <th mat-header-cell *matHeaderCellDef>{{columnName}}</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="!isDate(element[columnName])">{{element[columnName]}}</div>
          <div *ngIf="isDate(element[columnName])">{{element[columnName] | date: "yyyy-MM-dd"}}</div>
        </td>
      </ng-container>
    </table>
    