@import "src/styles.scss";

.container{
    width: 100%;
    height: 100vh;
    user-select: none;
    overflow: hidden;
    background-color: #fff;
    @include scrollBarStyle(0);
    h1 {
        padding: 30px 0 0 30px;
    }
    #file{
        display: none;
    }
    
    #icon{
        padding: 0 0 0 30px;
       
    }

    #input{
        width: auto;
        height: 30px;
        padding: 0 0 0 30px;
        input{
            width: 100%; 
        }
    }
    #file-list{
        padding: 0 0 0 30px;
        @include flex();
        flex-direction: column;
        justify-content:center;
        align-items: flex-start;
        @include scrollBarStyle(0);
    }
    i {
        font-size: 20px;
    }
    #action {
        width: auto;
        height: 30px;
        padding: 30px;
        button {
            width: 100%;
        }
    }
    
}

