

div {
    padding: 15px;
    width: 100%;
}

table {
    border-collapse: collapse;
    font-family: Futura, Arial, sans-serif;
    width: 100%;

    th,td {
        padding: .65em;
        border: 0px;
        text-align: center;
    }
    
    th {
        background: #555;
        color: #fff;
    }
    

    tr:nth-child(odd) {
        background: #ccc;
    }

    th:first-child {
        border-radius: 9px 0 0 0;
    }
    
    th:last-child {
            border-radius: 0 9px 0 0;
    }
    
    tr:last-child td:first-child {
            border-radius: 0 0 0 9px;
    }
    
    tr:last-child td:last-child {
            border-radius: 0 0 9px 0;
    }

    tbody tr:hover {
        background:  #555;
        color: white;
    }
}



