<div>
    <h3>常见问题</h3>
    <mat-divider></mat-divider>
    <p>1.网页显示“502 Bad Way”字样。</p>
    <p>答：系统上游服务器异常，报告给我们，我们将尽快为您解决。</p>
    <mat-divider></mat-divider>
    <p>2.网页显示“Welcome to Nginx”字样。</p>
    <p>答：这是主域名显示页面，请使用子域名http://www.dongqinglin.cn/</p>
    <mat-divider></mat-divider>
    <p>3.部分图标未能刷出。</p>
    <p>答：这是由于部分网络环境，比如HENU的宽带连接无法访问CDN网站导致，您可以切换网络环境重试。</p>
    <mat-divider></mat-divider>
    <p>4.长时间提示“登陆过期”。</p>
    <p>答：这是由于部分浏览器，比如Chorme无法及时更新缓存数据导致，您可以清理缓存数据并将网页关闭再尝试重新登陆。</p>
    <mat-divider></mat-divider>
    
    <p>5.其他错误，请<a routerLink="/user/about">联系我们。</a></p>
</div>
