@import "src/styles.scss";

#placeholder {
    height: 10vh;
}

#main {
    display: flex;
    
    .nav {
        
    }

    .right {
        width: 100vw;

    }

}
@media screen and (max-width: 480px) {
    
}