

<!-- 登陆页面 -->
<form *ngIf="isForgetPasswordShow && !isTip" class="form" [formGroup]="forgetPasswordForm" (ngSubmit)="resetPassword(forgetPasswordForm.value)">
    <h1>忘记密码</h1>
    <span><a (click)="tabForgetPassword()">其他账号？立即登陆</a></span>
    <input type="text" placeholder="用户名" [formControl]="forgetPasswordForm.get('username')">
    <input type="email" placeholder="请输入绑定邮箱账号" [formControl]="forgetPasswordForm.get('email')">
    <button type="button" (click)="requestCode()">发送验证码</button>
    <input type="text" placeholder="验证码" [formControl]="forgetPasswordForm.get('code')">
    <input type="password" placeholder="新密码" [formControl]="forgetPasswordForm.get('password')">
    <button type="submit">修改密码</button>
</form>

<form *ngIf="isSignUpShow && !isTip" class="form" [formGroup]="signupForm" (ngSubmit)="signUp(signupForm.value)">
    <h1>注册</h1>
    <div class="social-container">
        <a href="#" class="social"></a>
        <a href="#" class="social"></a>
        <a href="#" class="social"></a>
    </div>
    <span><a (click)="tabSignUp()">已有账号？立即登陆</a></span>
    <input type="email" placeholder="Email" [formControl]="signupForm.get('email')">
    <input type="text" placeholder="用户名" [formControl]="signupForm.get('username')">
    <input type="password" placeholder="密码" [formControl]="signupForm.get('password')">
    <button type="submit">注册并登陆</button>
</form>


<form *ngIf="!isSignUpShow && !isForgetPasswordShow && !isTip" class="form" [formGroup]="signinForm" (ngSubmit)="signIn(signinForm.value)">
    <h1>请登陆</h1>
    <div class="social-container">
        <a href="#" class="social"></a>
        <a href="#" class="social"></a>
        <a href="#" class="social"></a>
    </div>
    <!-- <span>使用本地账号</span> -->
    <input type="text" placeholder="用户名" [formControl]="signinForm.get('username')">
    <!-- <input type="email" placeholder="Email"> -->
    <input type="password" placeholder="密码" [formControl]="signinForm.get('password')">
    <div class="row">
        <mat-checkbox [formControl]="signinForm.get('rememberPassword')">
            记住密码
        </mat-checkbox>
        <span><a (click)="tabForgetPassword()">忘记密码</a></span>
    </div> 
    <span><a (click)="tabSignUp()">还没有账号？立即注册</a></span>
    <button type="submit">登陆</button>
</form>

<small id="beian"><a href="http://beian.miit.gov.cn" target="blank">豫ICP备19030707号</a></small>
<small id="copy"><a href="#">Copyright©2020 DongQinglin. All Rights Reserved.</a></small>

<div class="bg-mock"></div>
<div class="bg-img"></div>
<div class="tip" *ngIf="isTip">
    <p>这是一个提示</p>
    <p>我们根据UA判断您当前的浏览器环境，我们排除了部分用户不友好的UA服务环境，如IE浏览器，您的UA如下：</p>
    <p>{{ua}}</p>
    <p>当前环境被排除，请更换浏览器</p>
    <!-- <app-primary-button *ngIf="isCloseTip" buttonStr="关闭" (click)="closeTip()"></app-primary-button> -->
</div>
<!-- http://www.dongqinglin.cn/assets/bg_1.jpg -->
<!-- <video class="bg-video" id="bg-video" loop="loop" autoplay="autoplay" muted>
    <source src="http://www.dongqinglin.cn/assets/bg_3.mp4" type="video/mp4"  />
</video> -->

<app-progress-circle [isShow]="isProgressCircleShow"></app-progress-circle>

