@import "src/styles.scss";

div{
    position: fixed;
    /* z-index: 3; */
    bottom: 40px;
    right: 40px;
    background: $seventh;
    outline: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    button{
        width: 60px;
        height: 60px;
        background: transparent;
        border: 0;
        outline: none;
        i {
            color: $black-mask;
            font-size: 27px;
        }
    }

    button:active {
        transform: scale(1.1);
    }
    
    button:focus {
        outline: none;
    }
}